main{
    
}
p{
    color: gray;
}
span{
    color: orange;
}
button{
    background-color: orange;
    width: 100px;
    height: 50px;
    border-radius: 15px;

}
div{
   border: solid 1px;
            background-color:black;
            margin: 50px;
            padding: 50px;
            border-radius: 24px;
            width: 450px;
}
